body {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  color: hsl(209, 33%, 12%);
  overflow-x: clip;
}

svg,
img {
  width: 100%;
}

.flex-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .flex-container {
    font-size: medium;
    flex-direction: column;
    margin-inline: 2rem;
  }

  button {
    padding: 15px 0px;
    width: calc(100%);
    max-width: 392px;
  }
}
@media (min-width: 800px) {
  .button {
    margin-left: 0rem 1rem;
  }
}

.logo {
  max-width: fit-content;
  margin: 2rem;
  margin-top: 4rem;
}
.title {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
form {
  margin-top: 0.1rem;
  min-width: 100%;
  margin-inline: 1rem;
}
.email {
  max-width: 350px;
  padding: 15px 20px;
  border-radius: 30px;
  color: #c6d3f4f7;
  border: 1px solid;
  text-align: left;
  width: calc(100% - 42px);
}
.description {
  margin-bottom: 2rem;
}
h1 {
  margin: 0rem;
  display: inline-block;
}
button {
  background-color: hsl(223, 87%, 63%);
  color: white;
  padding: 15px 50px;
  display: inline-block;
  border-radius: 30px;
  border: none;
  margin: 1rem 0rem;
  font-weight: 500;
  box-shadow: 0px 0px 4px hsl(223, 87%, 63%);
}

button:hover {
  background-color: #7195f5;
  cursor: pointer;
}

#error {
  color: hsl(354, 100%, 66%);
  font-weight: 300;
  font-style: italic;
  font-size: smaller;
  margin: 0;
}
.illustration {
  max-width: 600px;
  margin: 3rem;
  margin-bottom: 5rem;
}
.icon {
  max-width: 13px;
  max-height: 13px;
  fill: hsl(223, 87%, 63%);
  border-radius: 100%;
  padding: 7px;
  border: 1px solid;
  border-color: #c6d3f4;
  display: inline-flex;
  place-items: center;
  margin-inline: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.icon svg {
  max-height: 13px;
  min-width: 13px;
}

.icon:hover {
  fill: white;
  background-color: hsl(223, 87%, 63%);
}

.attribution,
.copyrights {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 59%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
